.header {
    background: rgba(14, 14, 14, 0.75);
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 60px;
}

.nav__menu {
    width: 100%;
    display: flex;
    align-items: center;
}

.nav__pages {
    display: flex;
    list-style-type: none;
}

.nav__pages, .nav__pages li {
    padding: 0;
    margin: 0;
}

.nav__page, .nav__page_active {
    display: table;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-left: 95px;
}

.nav__page {
    color: #fff;
}

.nav__page_active {
    color:#C16767;
}

.client__button {
    margin-left: 95px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    background: none;
    border: 3px solid #fff;
    border-radius: 15px;
    transition: all .2s ease;
    cursor: pointer;
    height: 45px;
    width: 131px;
    display: flex;
}

.client__button svg {
    width: 30px;
    height: 30px;
    margin-top: 6px;
    margin-left: 9px;
    margin-right: 2px;
}

.client__button svg line {
    stroke: #fff;
    transition: all .2s ease;
}

.client__button svg path {
    stroke: #fff;
    transition: all .2s ease;
}

.client__button svg polyline {
    stroke: #fff;
    transition: all .2s ease;
}

.client__button:hover svg line {
    stroke: #C16767;
}

.client__button:hover svg path {
    stroke: #C16767;
}

.client__button:hover svg polyline {
    stroke: #C16767;
}

.client__button div {
    margin-top: 6px;
}

.client__button:hover {
    color: #C16767;
    border: 3px solid #C16767;
}

.logout__button {
    margin-left: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    background: none;
    border: 0;
    cursor: pointer;
}

.nav__page:hover, .logout__button:hover {
    color: #C16767;
}