.settings__body {
    width: 877px;
    height: 855px;
    background: #C16767;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 17px;
    box-shadow: 0px 4px 8px 3px rgb(0 0 0 / 25%);
    padding-top: 15px;
}

.global__settings {
    margin: 0 42px;
    height: 770px;
    padding-bottom: 25px;
    overflow-y: auto;
    overflow-x: hidden;
}

.settings__body h1 {
    text-align: center;
    margin-top: 20px;
}

.settings__validator {
    margin-top: 25px;
}

.settings__validator__header {
    display: flex;
    width: 96%;
}

.settings__validator__header input {
    height: 30px;
    width: 30px;
    margin-left: auto;
}

.settings__input {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 24px;
    margin-top: 13px;
    color: #fff;
    width: 96%;
}

.settings__input h2 {
    margin-bottom: 4px;
}

.settings__input input, .sploit__settings input {
    display: block;
    width: calc(100% - 8px);
    height: 47px;
    border-radius: 15px;
    border: none;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    padding-left: 8px;
}

.flex__input {
    display: flex;
    height: 100px;
}

.file__upload__input {
    width: 70%;
    margin-right: 0;
    margin-top: 22px;
}

.flex__input .settings__input input {
    width: 80%;
}

.settings__body button {
    height: 47px;
    width: 200px;
    color: #C16767;
    background: #fff;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
	transition: all 0.2s ease;
    display: block;
    margin: 0 auto;
    margin-top: 7px;
}

.settings__body button:hover {
    background: transparent;
    border: 3px solid #fff;
    color: #fff;
}

.global__settings button {
    width: 96%;
    margin: 0;
    margin-top: 25px;
}

input::file-selector-button {
    font-weight: bold;
    color: #C16767;
    background: #fff;
    border: none;
    width: 40%;
    height: 47px;
    border-radius: 15px;
    padding-left: 8px;
}

form .button__loading {
    background: transparent;
    border: 3px solid #fff;
}

.settings__select {
    color: #000;
}